In [1]:
import pandas  as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns

# importing book data set

In [4]:
book=pd.read_csv(r'C:\Users\Vikas\jupyter book\ex_files\BOOK\BX-Books.csv', sep=';',on_bad_lines='skip', encoding='latin-1' )

C:\Users\Vikas\AppData\Local\Temp\ipykernel_13020\2281759398.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book=pd.read_csv(r'C:\Users\Vikas\jupyter book\ex_files\BOOK\BX-Books.csv', sep=';',on_bad_lines='skip', encoding='latin-1' )

In [83]:
book.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [6]:
book.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [7]:
books=book[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
           'Image-URL-L']]

In [8]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [9]:
# renaming the index
books.rename(columns={
    "Book-Title":"Title",
    "Book-Author":"Author",
    "Year-Of-Publication":"Year",
    "Image-URL-L":"img_url"},inplace=True
    )

C:\Users\Vikas\AppData\Local\Temp\ipykernel_13020\3329918380.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(columns={

In [10]:
books[books=="24 Hours"].index

RangeIndex(start=0, stop=271360, step=1)

# import user  datset

In [12]:
users=pd.read_csv(r"C:\Users\Vikas\jupyter book\ex_files\BOOK\BX-Users.csv",sep=';',on_bad_lines='skip',encoding='latin-1')

In [13]:
users.head((3))

   User-ID                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [14]:
users['Age'].unique()

array([ nan,  18.,  17.,  61.,  26.,  14.,  25.,  19.,  46.,  55.,  32.,
        24.,  20.,  34.,  23.,  51.,  31.,  21.,  44.,  30.,  57.,  43.,
        37.,  41.,  54.,  42.,  50.,  39.,  53.,  47.,  36.,  28.,  35.,
        13.,  58.,  49.,  38.,  45.,  62.,  63.,  27.,  33.,  29.,  66.,
        40.,  15.,  60.,   0.,  79.,  22.,  16.,  65.,  59.,  48.,  72.,
        56.,  67.,   1.,  80.,  52.,  69.,  71.,  73.,  78.,   9.,  64.,
       103., 104.,  12.,  74.,  75., 231.,   3.,  76.,  83.,  68., 119.,
        11.,  77.,   2.,  70.,  93.,   8.,   7.,   4.,  81., 114., 230.,
       239.,  10.,   5., 148., 151.,   6., 101., 201.,  96.,  84.,  82.,
        90., 123., 244., 133.,  91., 128.,  94.,  85., 141., 110.,  97.,
       219.,  86., 124.,  92., 175., 172., 209., 212., 237.,  87., 162.,
       100., 156., 136.,  95.,  89., 106.,  99., 108., 210.,  88., 199.,
       147., 168., 132., 159., 186., 152., 102., 116., 200., 115., 226.,
       137., 207., 229., 138., 109., 105., 228., 183., 204.,  98., 223.,
       113., 208., 107., 157., 111., 146., 118., 220., 143., 140., 189.,
       127.])

In [15]:
users['Location'].unique()

array(['nyc, new york, usa', 'stockton, california, usa',
       'moscow, yukon territory, russia', ...,
       'sergnano, lombardia, italy', 'stranraer, n/a, united kingdom',
       'tacoma, washington, united kingdom'], dtype=object)

# import rating  dataset

In [17]:
rating=pd.read_csv(r"C:\Users\Vikas\jupyter book\ex_files\BOOK\BX-Book-Ratings.csv",sep=';',on_bad_lines='skip',encoding='latin-1')

In [18]:
rating.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [19]:
rating.rename(columns={
    "User-ID":"user-id",
    "Book-Rating":"rating"},inplace=True)

In [20]:
rating.shape

(1149780, 3)

In [21]:
rating.head(3)

   user-id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0

In [22]:
# lets check the shape of  data set 
print(books.shape)
print(users.shape)
print(rating.shape)

(271360, 6)
(278858, 3)
(1149780, 3)

In [23]:
 rating['user-id'].value_counts()

user-id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [24]:
# there is more rating than so we have so we have to manage it

In [25]:
rating["user-id"].unique().shape

(105283,)

In [26]:
x=rating["user-id"].value_counts() >200

In [86]:
y=x[x].index

In [87]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user-id', length=899)

In [29]:
rating=rating[rating['user-id'].isin(y)]

In [30]:
rating.shape

(526356, 3)

In [31]:
# marging with common column with isbn
rating_with_book=rating.merge(books,on="ISBN")

In [32]:
rating_with_book.shape

(487671, 8)

In [33]:
num_rating=rating_with_book.groupby("Title")["rating"].count().reset_index()

In [88]:
num_rating

                                                    Title  num_of_rating
0        A Light in the Storm: The Civil War Diary of ...              2
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Beyond IBM: Leadership Marketing and Finance ...              1
4        Clifford Visita El Hospital (Clifford El Gran...              1
...                                                   ...            ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...              3
160265                                      Ã?Â?lpiraten.              1
160266                     Ã?Â?rger mit Produkt X. Roman.              1
160267                              Ã?Â?stlich der Berge.              1
160268                                  Ã?Â?thique en toc              1

[160269 rows x 2 columns]

In [35]:
num_rating.shape

(160269, 2)

In [36]:
num_rating.rename(columns={"rating":"num_of_rating"},inplace=True)

num_rating

In [37]:
num_rating.head(3)

                                               Title  num_of_rating
0   A Light in the Storm: The Civil War Diary of ...              2
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1

In [38]:
# merge with common column with title
final_rating=rating_with_book.merge(num_rating,on="Title")

In [39]:
final_rating

,user-id,ISBN,rating,Title,Author,Year,Publisher,img_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
...,...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom,http://images.amazon.com/images/P/1892145022.0...,1
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,1
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,1
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...,1
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...,1

In [40]:
# taking rating above = 40 rating
final_rating=final_rating[final_rating["num_of_rating"]>=40]

In [41]:
final_rating.sample(20)

,user-id,ISBN,rating,Title,Author,Year,Publisher,img_url,num_of_rating
37075,150968,0446603309,0,The Witness,Sandra Brown,1996,Warner Books,http://images.amazon.com/images/P/0446603309.0...,55
7752,102967,0440241073,0,The Summons,John Grisham,2002,Dell Publishing Company,http://images.amazon.com/images/P/0440241073.0...,171
173604,107784,0446607711,0,The Simple Truth,David Baldacci,1999,Warner Books,http://images.amazon.com/images/P/0446607711.0...,85
58443,269566,0345303067,0,2010: Odyssey Two,Arthur C. Clarke,1984,Del Rey Books,http://images.amazon.com/images/P/0345303067.0...,47
31463,8245,0385722206,7,Balzac and the Little Chinese Seamstress : A N...,DAI SIJIE,2002,Anchor,http://images.amazon.com/images/P/0385722206.0...,111
86939,201017,0064471659,0,Harriet the Spy,Louise Fitzhugh,1996,HarperTrophy,http://images.amazon.com/images/P/0064471659.0...,43
8049,145619,0446350982,0,Presumed Innocent,Scott Turow,1988,Warner Books,http://images.amazon.com/images/P/0446350982.0...,149
30266,208406,0380727293,0,Dr. Atkins' New Diet Revolution,Robert C. Atkins,1997,Avon Books,http://images.amazon.com/images/P/0380727293.0...,53
113671,106225,0385511612,0,Bleachers,John Grisham,2003,Doubleday,http://images.amazon.com/images/P/0385511612.0...,53
77325,85426,0786881852,8,Don't Sweat the Small Stuff and It's All Small...,Richard Carlson,1997,Hyperion,http://images.amazon.com/images/P/0786881852.0...,90
2459,208671,0316776963,0,Me Talk Pretty One Day,David Sedaris,2001,Back Bay Books,http://images.amazon.com/images/P/0316776963.0...,146
185552,69355,067101420X,0,"Forever... : A Novel of Good and Evil, Love an...",Jude Deveraux,2002,Pocket,http://images.amazon.com/images/P/067101420X.0...,55
37551,114414,0446676098,0,The Notebook,Nicholas Sparks,1999,Warner Books,http://images.amazon.com/images/P/0446676098.0...,241
43704,110912,0553580221,0,False Memory,Dean R. Koontz,2000,Bantam Books,http://images.amazon.com/images/P/0553580221.0...,86
104245,242646,044023672X,0,Answered Prayers,DANIELLE STEEL,2003,Dell,http://images.amazon.com/images/P/044023672X.0...,41
3738,235392,0380710218,5,Postmortem,Patricia Daniels Cornwell,1993,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0380710218.0...,78
9651,81492,0515132020,0,Heaven and Earth (Three Sisters Island Trilogy),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/0515132020.0...,95
32882,204864,0425147622,0,The Body Farm,Patricia Daniels Cornwell,1995,Berkley Publishing Group,http://images.amazon.com/images/P/0425147622.0...,95
36812,147451,0446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books,http://images.amazon.com/images/P/0446364193.0...,134
69104,73394,0064472272,0,"Angus, Thongs and Full-Frontal Snogging: Confe...",Louise Rennison,2001,HarperTempest,http://images.amazon.com/images/P/0064472272.0...,53

In [42]:
# deleting droop value 
final_rating.drop_duplicates(["user-id","Title"],inplace=True )

C:\Users\Vikas\AppData\Local\Temp\ipykernel_13020\2186837741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(["user-id","Title"],inplace=True )

In [43]:
final_rating.shape

(74876, 9)

# pivot table

In [44]:
book_pivot=final_rating.pivot_table(columns="user-id",index="Title",values="rating")

In [45]:
book_pivot.head(3)

user-id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
book_pivot.shape

(1091, 889)

In [47]:
# filling all na value with 0
book_pivot.fillna(0,inplace=True)

In [48]:
book_pivot.sample(12)

user-id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
Second Child,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
It's Always Something,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The List,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Full Circle,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Secret History,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Portrait of a Killer: Jack the Ripper -- Case Closed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Deep End of the Ocean (Oprah's Book Club (Hardcover)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Holding the Dream (Dream Trilogy),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Family Album,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Full Speed (Janet Evanovich's Full Series),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Mr. Maybe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Lost World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# model

In [49]:
from scipy.sparse import csr_matrix

In [50]:
book_sparse=csr_matrix(book_pivot)
# csr_matrix igmore all zero value

In [51]:
book_sparse

<1091x889 sparse matrix of type '<class 'numpy.float64'>'
	with 18333 stored elements in Compressed Sparse Row format>

In [52]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm="brute")

In [53]:
model.fit(book_sparse)        # passing book sparse because it contain non-zero value

NearestNeighbors(algorithm='brute')

In [54]:
distance,suggestion=model.kneighbors(book_pivot.iloc[2,:].values.reshape(1,-1),n_neighbors=6)

In [55]:
distance

array([[ 0.        , 23.9582971 , 24.12467616, 24.12467616, 24.69817807,
        24.91987159]])

In [56]:
suggestion

array([[   2,  526,  295, 1014,  535,  365]], dtype=int64)

In [57]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['2010: Odyssey Two', 'No Safe Place', 'Fortune's Hand',
       'Tom Clancy's Op-Center: Games of State (Tom Clancy's Op Center (Paperback))',
       'On Wings of Eagles', 'High Tide'],
      dtype='object', name='Title')

In [58]:
# book_names=book_pivot.index

# recommend

In [77]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distance,suggestion=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    for i in range(len(suggestion)):
        book=book_pivot.index[suggestion[i]]
        for j in book:
            print(j)

In [82]:
book_name="Heaven and Earth (Three Sisters Island Trilogy)"
recommend_book(book_name)

Heaven and Earth (Three Sisters Island Trilogy)
The Reef
Considering Kate (The Stanislaskis) (Silhouette Special Edition)
Portrait in Death
Table For Two
Imitation in Death (Eve Dallas Mysteries (Paperback))